.author {
  padding: f2(50, 0);
  background-color: #e8e8e8; }
  .author__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: f1(100); }
    @media screen and (max-width: 1000px) {
      .author__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0; } }
  .author__left {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media screen and (max-width: 1000px) {
      .author__left {
        width: 100%; } }
  .author__img {
    position: relative; }
    .author__img img {
      position: relative;
      z-index: 9999; }
  .author__right {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: white; }
    @media screen and (max-width: 1000px) {
      .author__right {
        width: 100%; } }
    .author__right p {
      font-size: f1(24);
      line-height: 2;
      padding: f2(50, 50); }
      @media screen and (max-width: 1000px) {
        .author__right p {
          padding: f2(50, 10);
          line-height: normal;
          text-align: center; } }
  .author__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: f2(50, 0); }
    .author__bottom p {
      font-size: f1(24);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      background-color: #0e0e30;
      color: white;
      padding: f2(40, 20);
      margin-bottom: f1(30); }
    @media screen and (max-width: 900px) {
      .author__bottom {
        text-align: center; } }

.want__back-author {
  background-color: #0e0e30;
  right: 1.125rem; }
