.banner__one {
  background: url(../img/banner/1.png) no-repeat center/cover fixed;
  padding-top: 56%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .banner__one {
      background-attachment: inherit; } }
  .banner__one p {
    width: 70%;
    font-family: "Playfair Display SC";
    font-size: f1(50);
    font-weight: bold;
    line-height: 58.33px;
    font-variant: small-caps;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 1500px) {
      .banner__one p {
        font-size: f1(40);
        line-height: normal; } }
    @media screen and (max-width: 768px) {
      .banner__one p {
        font-size: f1(30); } }
    @media screen and (max-width: 550px) {
      .banner__one p {
        font-size: f1(20);
        width: 90%; } }
